/* Card.css */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    margin: 10px;
    max-width: 300px; 
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1em;
  color: #666;
}

.card-footer {
  bottom: 0;
  /* justify-content: flex-end; */
  /* display: flex; */
}
  