body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

div {
  padding: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}